.teams-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.new-team-create-wrapper {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.existing-teams-wrapper {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media screen and (min-width: 600px) {
    .existing-teams-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
    }

}

@media screen and (min-width: 850px) {
    .existing-teams-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
}