.homepage-wrapper {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-text-display {
    max-width: 90%;
    width: 500px;
    height: 500px;
    background-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    font-size: 25px;
    padding: 15px;
    text-align: center;
}

.smaller-text {
    font-size: 15px;
}