.nickname-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 50%;
    gap: 5px;
    position: relative;
}

.nickname-input {
    margin-top: 19px;
    width: 70px;
    font-size: .7em;
}

.nickname-display {
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}