
.team-wrapper {
    width: 100%;
    height: 100%;
}

.pokemon-selectors-wrapper {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    gap: 10px;
    height: 100px;
    width: 100%;
    padding: 10px;
}

@media screen and (min-width: 1075px) {
    .pokemon-selectors-wrapper::-webkit-scrollbar {
        display: none;
    }
    
    .pokemon-selectors-wrapper {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}


.pokemon-selector-wrapper {
    display: flex;
    flex-direction: column;
    height: 50px;
    width: 200px;
    align-items: center;
}

.team-display-wrapper {
    width: 100%;
    height: calc(100% - 100px);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 25px;
    overflow-y: scroll;
}

@media screen and (min-width: 500px) {
    .team-display-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .team-display-wrapper::-webkit-scrollbar {
        display: none;
    }
    
    .team-display-wrapper {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

}

@media screen and (min-width: 750px) {
    .team-display-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        justify-items: center;
    }
}