* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  position: relative;
}

.main-wrapper  {
  height: 100vh;
  width: 100vw;
}


header {
  height: 20%;
  width: 100%;
}

main {
  height: 80%;
  width: 100%;
}