* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  position: relative;
}

.main-wrapper  {
  height: 100vh;
  width: 100vw;
}


header {
  height: 100px;
  width: 100%;
  background-color: red;
}

main {
  height: calc(100% - 100px);
  width: 100%;
}