* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  position: relative;
}

.main-wrapper  {
  height: 100vh;
  width: 100vw;
}


header {
  height: 100px;
  width: 100%;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 5px;
}

.site-header-logo {
  height: 90px;
  width: calc(100%-100px);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-right: 100px;
}

.masterball-logo {
  height: 75px;
  width: 75px;
}

.header-title {
  display: flex;
  flex-direction: column;
}

.site-heading {
  font-size: 25px;
  font-weight: bolder;
}

.sub-heading {
  font-size: 15px;
}


.user-stuff {
  height: 90px;
  width: 90px;
  background-color: white;
  position: absolute;
  right: 5px;
  border-radius: 50%;
  border: 1px solid black;
}


main {
  height: calc(100% - 100px);
  width: 100%;
}